doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Local advertising Westdene Triomph, local goods and services')
    meta(name='keywords', content='Westdene Triomph Sophiatown, local advertising')
    meta(name='author', content='Craig Leppan')
    link(rel='shortcut icon', type='image/png', href='img/favicon.ico')
    link(rel='stylesheet', href='/css/main.css')
    title ADLOCAL | #{title}
  body

    main.container
      
      // SECTION-BANNER
      include _banner

      // CONTENT
      block content
        h1 This is a placeholder heading

      // SECTION-FOOTER
      include _footer