*,
*::after,
*::before {
  margin: 0;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Noticia", sans-serif;
}

::selection {
  background-color: #f4f4f4;
  color: #3a3A3A;
}

.container {
  display: grid;
  grid-template-columns: 2rem repeat(6, 1fr) 2rem;
  grid-template-rows: repeat(6, minmax(min-content max-content));
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}
.heading-secondary__sub {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  margin: 1.5rem;
}

.paragraph {
  font-size: 1.2rem;
  padding: 1.8rem;
  color: #000;
}
.paragraph:not(:last-child) {
  margin-bottom: 1.5rem;
}

.banner {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-items: center;
  background-color: #0c1c8d;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.banner__logo {
  grid-column: 1/2;
  width: 5rem;
  margin: 1.2rem 2rem;
}
.banner__feature {
  grid-column: 2/3;
  cursor: pointer;
  margin: 0 auto;
}
.banner__map {
  grid-column: 3/4;
  cursor: pointer;
  margin: 0 auto;
}
.banner__speaker {
  grid-column: 4/5;
  cursor: pointer;
  margin: 0 auto;
}
.banner__marker {
  height: 3rem;
  padding: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.banner__area {
  grid-column: 5/6;
}
.banner__login {
  grid-column: 6/7;
}

.banner-feature-active {
  background-color: #fff;
  color: #0c1c8d;
  border-radius: 4px;
  padding: 3px;
}

.banner-map-active {
  background-color: #fff;
  color: #0c1c8d;
  border-radius: 4px;
  padding: 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tip {
  z-index: 2500;
  visibility: hidden;
  background-color: #e23d29;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem 0;
  position: absolute;
  bottom: -100%;
  right: 50%;
  margin-left: -7.5rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.tip.showtip {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 37em) {
  .tip.showtip {
    display: none;
  }
}

.notice-wrapper {
  z-index: 2450;
  background: #0c1c8d;
  /* background is 50% transparent */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.notice {
  text-align: center;
  width: 70%;
  max-width: 500px;
  margin: 3rem auto;
  /* margin 10% top and bottom and auto l and R */
  padding: 20px;
  background: white;
  border-radius: 4px;
}

/* .popup anchor tag */
/* the close cross relative to the relative popup */
.notice-close {
  position: absolute;
  color: #fff;
  top: 5px;
  right: 8px;
  font-size: 4rem;
  cursor: pointer;
  margin-right: 3rem;
}

.feature {
  grid-column: 2/8;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  justify-content: center;
  align-content: center;
}

.feature__box {
  position: relative;
  padding: 1.5rem 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  margin: 1rem 0;
}
.feature__box--splash {
  position: absolute;
  left: 0rem;
  top: 2.5rem;
  font-weight: 700;
  font-size: 1.7rem;
  color: #e23d29;
  rotate: -45deg;
  width: 20%;
}
.feature__box--cardheader {
  font-size: 1.5rem;
  padding: 1.5rem;
}
.feature__box--cardtext {
  font-size: 1rem;
  padding: 1.5rem;
}
.feature__box--cardimg {
  width: 70%;
  border-radius: 4px;
}

.feature-hide {
  display: none;
}

.map {
  grid-column: 1/-1;
  grid-row: 3/4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  margin: 0.5rem;
}

.map-hide {
  display: none;
}

/* MAP */
#map {
  width: 100%;
  height: 70vh;
}

/* Popup width is defined in JS using options */
.leaflet-popup-content-wrapper {
  background-color: #0c1c8d;
  color: #fff;
}

.leaflet-popup-content {
  font-size: 1.5rem;
  margin: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.leaflet-popup .leaflet-popup-tip {
  opacity: 100;
  background-color: #feb415;
}

.business-popup .leaflet-popup-content-wrapper {
  border-left: 7px solid #feb415;
}

.listing {
  grid-row: 4/5;
  grid-column: 2/8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(min-content max-content));
  row-gap: 1rem;
  column-gap: 1.5rem;
  padding: 1.5rem 1.5rem;
}
@media only screen and (max-width: 37em) {
  .listing {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.listing__paginator {
  grid-column: 1/3;
  justify-self: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2.5rem;
}

.box {
  grid-column: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
}
.box__ad {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 1.5rem;
}
.box__left {
  grid-column: 1/2;
}
.box__left--company {
  grid-row: 1/2;
}
.box__left--btn-sml {
  grid-row: 1/2;
  justify-self: right;
  padding: 1em;
  background-color: #0c1c8d;
  color: white;
  border-radius: 5px;
}
.box__left--location {
  grid-row: 2/3;
}
.box__left--text {
  grid-row: 3/4;
}
.box__right {
  grid-column: 2/3;
}
.box__right--img {
  justify-self: center;
  align-self: center;
  grid-row: 1/4;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.pop {
  z-index: 1150;
}

.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  /* background is 50% transparent */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 10% auto;
  /* margin 10% top and bottom and auto l and R */
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 4px;
}

.popup-img {
  width: 100%;
  border-radius: 4px;
}

/* .popup anchor tag */
.popup a {
  background: #e23d29;
  color: #fff;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  padding: 1rem;
  margin: 2rem;
}

/* the close cross relative to the relative popup */
.popup-close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}

.footer {
  grid-column: 1/-1;
  grid-row: 5/6;
  background-color: #0c1c8d;
  box-sizing: border-box;
}
.footer__box {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
}
@media (max-width: 50em) {
  .footer__box {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: max-content;
    row-gap: 0;
  }
}
@media (max-width: 40.9em) {
  .footer__box {
    display: flex;
    flex-direction: column;
  }
}
.footer__box--left {
  margin: 2rem 0;
  grid-column: 1/2;
}
@media (max-width: 50em) {
  .footer__box--left {
    place-content: center center;
    place-items: center center;
    margin: 0;
  }
}
.footer__box--middle {
  margin: 2rem 0;
  grid-column: 2/3;
}
@media (max-width: 50em) {
  .footer__box--middle {
    place-content: center center;
    place-items: center center;
  }
}
.footer__box--right {
  grid-column: 3/4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
@media (max-width: 50em) {
  .footer__box--right {
    grid-column: 1/3;
    grid-row: 2/3;
    place-content: start start;
    place-items: start start;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}
.footer__items--left {
  display: grid;
  align-content: center;
  margin-left: 2rem;
}
.footer__items--middle {
  display: grid;
  justify-items: center;
  text-align: center;
}
.footer__items--right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 0.6fr) 1fr;
  justify-items: end;
  align-items: bottom;
  text-align: right;
}
@media (max-width: 50em) {
  .footer__items--right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    place-content: center center;
  }
  .footer__items--right--one {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
  .footer__items--right--two {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
  }
  .footer__items--right--three {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
  }
}
.footer__header {
  color: #fff;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.footer__header--sub {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: underline;
}
.footer__text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 2rem 0;
  width: 90%;
  color: #fff;
}
.footer__text--right {
  text-align: right;
}

input[type=text] {
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 90%;
}

input[type=email] {
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 90%;
}

.button {
  width: 90%;
  background-color: #fff; /* Green */
  border: 2px solid #027b58;
  color: #027b58;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #027b58;
  border: 2px solid #fff;
  color: white;
}

.netsec__icon {
  width: 90%;
}
@media (max-width: 50em) {
  .netsec__icon {
    text-align: top;
    justify-self: center;
    width: 100%;
  }
}

/* Social Media Links*/
.social a {
  color: #f4fffe;
}

.jpic {
  margin: 1rem 1rem;
  border-radius: 5%;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 1rem;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 1rem;
}

::placeholder {
  font-size: 1rem;
}

.linkblock {
  grid-column: 2/8;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 1.6rem;
  justify-items: center;
  padding: 0.5rem;
}
@media (max-width: 56.25em) {
  .linkblock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 1.6rem;
    justify-items: center;
    margin-top: 3rem;
    padding: 0.5rem;
  }
}
@media (max-width: 37.5em) {
  .linkblock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 1.6rem;
    justify-items: center;
    margin-top: 3rem;
    padding: 0.5rem;
  }
}
.linkblock__item {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: minmax(min-content, 18rem);
  grid-row-gap: 1.5rem;
  align-items: end;
  justify-items: center;
}
.linkblock__item:hover {
  scale: 1.2;
  box-shadow: none;
  font-weight: 800;
}
.linkblock__item--photi {
  margin-top: 2rem;
  width: 5.5rem;
}
.linkblock__heading {
  padding: 0.3rem 0;
  margin: 0 auto;
  font-size: 1.5rem;
}
.linkblock__list {
  padding: 0;
}
.linkblock__list ul {
  list-style: none;
  margin: 0 auto;
}
.linkblock__list ul li {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.3rem 0rem;
}
.linkblock__list ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card-text {
  font-size: 2rem;
}

a:link {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
